* {
  box-sizing: border-box;
}

.checkbox-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 26px;
  width: 26px;
  cursor: pointer;
  margin: 5px;

  &:hover {
    background-color: rgba(0, 123, 255, 0.25);
    box-shadow: 0px 0px 0 0.1rem rgba(0, 123, 255, 0.25);
    border-radius: 50%;
  }
  &.focus {
    outline: none;
    border: 2px solid #0075ff;
    background-color: rgba(0, 123, 255, 0.25);
    border-radius: 50%;
    height: 26px;
    width: 26px;
    padding: 4px;
  }
}

.check {
  cursor: pointer;
  height: 17px;
  width: 17px;
  outline: none;
}
